/* Fonts */
@font-face {
    font-family: "UglyQua";
    src: url("./UglyQua-webfont.woff") format("woff");
}
@font-face {
    font-style: italic;
    font-family: "UglyQua";
    src: url("./UglyQua-Italic-webfont.woff") format("woff");
}
